{
  "presets": [
    "es2015", "stage-1"
  ],
  "plugins": [
    ["add-module-exports"],
    ["transform-async-functions"],
    ["transform-async-to-generator"],
    ["transform-export-extensions"],
    ["transform-class-properties"],
    ["transform-object-rest-spread"]
  ]
}
